*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}

body{
    width: 100%;
}

header{
    background-color: #0073DD;
    width: 100%;
    padding: 15px 0px 15px 0px;
}

header p{
    text-align: left;
    padding-left: 20px;
    font-size: 20px;
    color: #FDFEFE;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
}

.align-right{
    text-align: right;
    border: 0;
    margin-right: 15px;
}

.headerbtn{
    background-color: #0073DD;
    color: white;
    font-size: medium;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.headerbtn:hover{
    background-color: #0021dd;
    color: white;
}

.col {
  float: left;
  text-align: center ;
  width: 25%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.col_log{
    margin-top: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.login_form{
    height: auto;
    width: 250px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    background-color: #0082DD;
    color: #FDFEFE;
    font-family: 'Open Sans',sans-serif;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #000;

}

.log_menu{
    width: 150px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.log_menu #admin_list{
    width: 100%;
    height: 40px;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 4px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;


}

.log_menu #admin_list #opt{
    height: 40px;
    padding: 5px;
}


.u_name,.password{
    width: 100%;
    height: 60px;
    margin-bottom: 30px;
    
}

.errmsg{
    color: red;
}

#u_name,#pass{
    height: 40px;
    /* border-color: white; */
    border-radius: 4px;
    padding: 2px;
}

#btn{
    width: 100px;
    display: block;
    height: auto;
    padding: 5px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: hsl(145, 80%, 43%);
    color: #FDFEFE;
    box-shadow: 2px 2px 2px #000;

}