{%extends 'index.html'%}

{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>


    {%block form%}
    <div class="login_form">
        <form action="{%url 'addUser' %}" method="POST">
            {% csrf_token %}

            <div class="log_menu">
                <select name="org_opt" id="admin_list">

                    {% for org in orgs %}
                    <option id="opt" value={{org.org_id}}>{{org.org_name}}</option>
                    {% endfor %}

                </select>
            </div>

           <div class="u_name">
                <label for="username">Username</label>
                <input type="text" name="username" id="u_name" required>
           </div>

           <div class="password">
                <label for="password">Password</label>
                <input type="password" name="password" id="pass" required>
           </div>

           <div class="u_name">
                <label for="position">Position</label>
                <select name="post_opt" id="u_name">

                    {% for post in roles %}
                    <option id="post_opt" value={{post.value}}>{{post.name}}</option>
                    {% endfor %}

                </select>
                
            </div>

            <button type="submit" id="btn">Confirm Details</button>

            {% if request.isSuperAdmin %}
            <a class="btn" href="{% url 'addOrg' %}" id="btn">Add Organization</a>
            {% endif %}
        </form>
    </div>
    {%endblock form%}
    
</body>
</html>