{% extends 'index.html' %}
{%load static%}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'index.css' %}">
    <title>Home</title>
</head>
<body>

    {% block form%}
        
    {%endblock form%}

    {% block body%} 
    <div class="row">
        <div class="col">
            <h2>Location</h2>
            <div class="col_log">
                <select name="location" id="loaction_list">
                    <option id="loc_opt" value="ngp_loc">Nagpur</option>
                    <option id="loc_opt" value="pn_loc">Pune</option>
                    <option id="loc_opt" value="mbi_loc">Mumbai</option>
                </select>
            </div>
        </div>
        <div class="col">
            <h2>Sensor Group</h2>
            <div class="col_log">
                <select name="sensorgrp" id="sngrp_list">
                    <option id="sgrp_id" value="hvac_demo">HVAC_demo</option>
                </select>
            </div>
        </div>
        <div class="col">
            <h2>Select Sensors</h2>
            <div class="col_log">
                <select name="sensors" id="sns_list">
                    <option id="sns_id" value="sns1">ac-temp</option>
                    <option id="sns_id" value="sns2">ac-fanSpeed</option>
                    <option id="sns_id" value="sns3">alaram</option>
                </select>
            </div>
        </div>
        <div class="col">
            <h2>Time</h2>
            <div class="col_log">
                
                <select name="time" id="time_list">
                    <option id="t_id" value="t1">2021-1-jan-1:1</option>
                    <option id="t_id" value="t2">2021-1-jan-1:2</option>
                    <option id="t_id" value="t3">2021-1-jan-1:3</option>
                </select>

                <select name="time" id="time_list">
                    <option id="t_id" value="t1">2021-1-jan-1:1</option>
                    <option id="t_id" value="t2">2021-1-jan-1:2</option>
                    <option id="t_id" value="t3">2021-1-jan-1:3</option>
                </select>
        </div>

    </div>
  
    {%endblock body%}

</body>
</html>