{% extends 'index.html' %}
{%load static%}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'index.css' %}">
    <title>Home</title>
</head>

<body>

    {% block form%}

    {%endblock form%}

    {% block body%}
    <div class="row">
        <div class="col">
            <h2>Location</h2>
            <div class="col_log">
                <select name="location" id="location_list" onchange="change_location();">
                    <option value="" selected disabled>Select Location</option>
                    {% for location in locations %}
                    <option id="loc_opt" value="{{location.loc_id}}">{{location.loc_name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col">
            <h2>Sensor Group</h2>
            <div class="col_log">
                <select name="sensorgrp" id="sngrp_list" onchange="change_sg();">
                    <option value="" selected disabled>Select Sensor group</option>
                </select>
            </div>
        </div>
        <div class="col">
            <h2>Select Sensors</h2>
            <div class="col_log">
                <select name="sensors" id="sns_list">
                    <option value="" selected disabled>Select Sensor</option>
                </select>
            </div>
        </div>
        <div class="col">
            <h2>Time</h2>
            <div class="col_log">

                <div class="row" style="margin-left: auto; margin-right: auto;">
                    <div class='row'>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker6'>
                                <input id="from_time" type='text' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class='row'>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker7'>
                                <input id="to_time" type='text' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col">
            <button onclick="add_to_compare();" id="btn">Add</button>
            <div class="selection_status" id="err_msg">
            </div>
        </div>
        <div class="col">
            <select name="selection" id="selection" class="selection" multiple="multiple">

            </select>
        </div>
        <div class="col">
            <button onclick="remove_from_list();" id="btn_red">Remove</button>
        </div>
        <div class="col">
            <button onclick="generate_graph();" id="btn">Generate Graph</button>
        </div>

    </div>

    <div class="row">
        <a class="btn" href="{% url 'dataGen' %}" id="btn">Generate User Data</a>
    </div>
    
    <div class="row" id="analysis_div" style="padding: 6%;">
        <h2>Time Series Analysis</h2><br/>
        <ul>
            <li>
                <a href="#" id="">Augmented Dickey-Fuller Test (Stationarity of the series)</a>
            </li>
        </ul>
    </div>

    {%endblock body%}

</body>

</html>