{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%block fonts%}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="{%static 'css/index.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="{%static 'js/javascript.js'%}"></script>


    {%endblock fonts%}

    <title>Sensor Analysis</title>
</head>

<body>
    {% block header%}
    <header>

        <p>{{heading}}</p>
        <div class="menu_opt" id="menu" style="{{display}}">
            <div id="container" class="container" onclick="myFunction(); drop();">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>

            <div class="options" id="options">
                <ul id="drop_down">
                   <a href="{%url 'logout'%}"> <li id="list_item">Logout</li></a>
                    <li id="list_item">Profile</li>
                </ul>
            </div>
        </div>

    </header>
    {%endblock header%}

    {%block form%}

    {% if not request.isAuthorized %}
    <div class="errmsg">
        <p>Invalid username or password !</p>
    </div>
    {% endif %}
    <div class="login_form">
        <form action="{%url 'login' %}" method="POST">
            {% csrf_token %}

            <div class="log_menu">
                <select name="admin_opt" id="admin_list">
                    <option id="opt" value="s_admin" default>Super Admin</option>
                    <option id="opt" value="n_admin">Admin</option>

                </select>
            </div>

            <div class="u_name">
                <label for="username">Username</label>
                <input type="text" name="username" id="u_name" required placeholder="Username">
            </div>

            <div class="password">
                <label for="password">Password</label>
                <input type="password" name="password" id="pass" required placeholder="Password">
            </div>

            <button type="submit" id="btn">Sign In</button>
        </form>
    </div>
    {%endblock form%}
    {% block body%}
    <!-- {%block label%}
    ninad
    {%endblock label%} -->
    {%endblock body%}
</body>

</html>