{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%block fonts%}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="{%static 'index.css' %}">
    {%endblock fonts%}

    <title>Sensor Analysis</title>
</head>
<body>
    {% block header%}
    <header>
        <p>Sensor Analysis</p>
    </header>
    {%endblock header%}

    {%block form%}

    {% if not request.isAuthorized %}
    <div class="errmsg">
        <p>Invalid username or password !</p>
    </div>
    {% endif %}
    <div class="login_form">
        <form action="{%url 'login' %}" method="POST">
            {% csrf_token %}

            <div class="log_menu">
                <select name="admin_opt" id="admin_list">
                    <option id="opt" value="s_admin" default>Super Admin</option>
                    <option id="opt" value="n_admin">Admin</option>

                </select>
            </div>

           <div class="u_name">
                <label for="username">Username</label>
                <input type="text" name="username" id="u_name" required>
           </div>

           <div class="password">
                <label for="password">Password</label>
                <input type="password" name="password" id="pass" required>
           </div>

            <button type="submit" id="btn">Sign In</button>
        </form>
    </div>
    {%endblock form%}
    {% block body%}
    <!-- {%block label%}
    ninad
    {%endblock label%} -->
    {%endblock body%}
</body>
</html>