{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%block fonts%}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="{%static 'index.css' %}">
    {%endblock fonts%}

    <title>Success</title>
</head>
<body>
    {% block header%}
    <header>
        <p>Task Completed Successfully !</p>
    </header>
    {%endblock header%}

</body>
</html>